[auth]
#NOTE(wszumski): needed to use fixed_network_name with dynamic creds
create_isolated_networks = False
connect_method = fixed

[compute]
fixed_network_name = "{{ fixed_network }}"

[validation]
connect_method = fixed
network_for_ssh = "{{ fixed_network }}"
