# Include this if you have many external networks, but cannot reach them 
# all from where tempest is running

[network]
public_network_id = {{ public_network_id }}
floating_network_name = {{ floating_network_name }}