# Include this is you are running victoria

[compute]
# Specify microversions to run tests that depend on new APIs. 2.87 is Ussuri and Victoria.
# See https://docs.openstack.org/nova/latest/reference/api-microversion-history.html
min_microversion = 2.1
max_microversion = 2.87

[volume]
# https://docs.openstack.org/cinder/latest/contributor/api_microversion_history.html#maximum-in-victoria
min_microversion = 3.0
max_microversion = 3.62
