# Include this is you are running rocky

[compute]
# Specify microversions to run tests that depend on new APIs. 2.65 is Rocky.
# See https://docs.openstack.org/nova/latest/reference/api-microversion-history.html
min_microversion = 2.1
max_microversion = 2.65

[volume]
# https://docs.openstack.org/cinder/train/contributor/api_microversion_history.html#maximum-in-rocky
min_microversion = 3.0
max_microversion = 3.55
