# Include this if you are running queens

[compute]
# Specify microversions to run tests that depend on new APIs. 2.60 is Queens.
# See https://docs.openstack.org/nova/latest/reference/api-microversion-history.html
min_microversion = 2.1
max_microversion = 2.60

[volume]
# https://docs.openstack.org/cinder/train/contributor/api_microversion_history.html#maximum-in-queens
min_microversion = 3.0
max_microversion = 3.50
