# Include this is you are running train

[compute]
# Specify microversions to run tests that depend on new APIs. 2.79 is Train.
# See https://docs.openstack.org/nova/latest/reference/api-microversion-history.html
min_microversion = 2.1
max_microversion = 2.79

[volume]
# https://docs.openstack.org/cinder/train/contributor/api_microversion_history.html#maximum-in-stein-and-train
min_microversion = 3.0
max_microversion = 3.59
