# Include this is you are running queens

[compute]
# Specify microversions to run tests that depend on new APIs. 2.60 is Queens.
# See https://docs.openstack.org/nova/latest/reference/api-microversion-history.html
min_microversion = 2.1
max_microversion = 2.60
