# Include this if you are running yoga

[compute]
# Specify microversions to run tests that depend on new APIs. 2.90 is Yoga.
# See https://docs.openstack.org/nova/latest/reference/api-microversion-history.html
min_microversion = 2.1
max_microversion = 2.90

[volume]
# https://docs.openstack.org/cinder/latest/contributor/api_microversion_history.html#maximum-in-yoga
min_microversion = 3.0
max_microversion = 3.68
